<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <div>hello, <%=user_info%></div>
        <a href="/myinfo">myinfo</a>
        <a href="/logout">logout</a>
    </body>
</html>